/* body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
} */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: #27292c;
  color: white;
}

.header-section {
  background: hsl(233, 12%, 15%);
  height: 90px;
  /* display: flex;
  align-items: center; */
}

.nav-section {
  height: 100%;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-logo {
  width: 40px;
}

.nav-title {
  margin-left: 7px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #61dafb;
}

.main-section {
  height: 100dvh;
  padding: 60px 30px;
}

.main-title {
  margin-bottom: 46px;
  font-size: 2.4 rem;
}

.list {
  max-width: 400px;
}

.list li {
  margin-bottom: 20px;
  line-height: 19px;
}
