* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}
.header-section {
  height: 75px;
  background: #bf4040; 
  /* #f55a5a */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-logo {
  width: 30px;
}
